th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {background-color: #f5f5f5}
th {
    background-color: #1d040e;
    color: rgb(227, 224, 232);
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
